<p>Site réalisé par 21506749 et 21615815.</p>

<ul>
    <li>
        Comptes fournis pour le rendu :
        <ul>
            <li>
                <strong>Utilisateur inscrit :</strong>
                <ul>
                    <li><strong>Nom d'utilisateur : </strong>Niveau0</li>
                    <li><strong>Mot de passe : </strong>day</li>
                </ul>
            </li>
            <li>
                <strong>Moderateur :</strong>
                <ul>
                    <li><strong>Nom d'utilisateur : </strong>Niveau1</li>
                    <li><strong>Mot de passe : </strong>book</li>
                </ul>
            </li>
            <li>
                <strong>Super utilisateur :</strong>
                <ul>
                    <li><strong>Nom d'utilisateur : </strong>Niveau2</li>
                    <li><strong>Mot de passe : </strong>!Modify</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Dump de la base de données dans le répertoire Utilitaires
    </li>
</ul>

<ul>
    <li>
        Respect des consignes :
        <ul>
            <li>
                Architecture correcte, site basique fonctionnel :
                <ul>
                    <li>
                        Architecture MVCR
                    </li>
                    <li>
                        Possibilité d'ajouter des livres si connecté
                    </li>
                    <li>
                        Possibilité de modifier ou retirer ses propres livres
                    </li>
                    <li>
                        Possibilité de modifier ses informations de compte
                    </li>
                    <li>
                        Possibilité de supprimer son compte
                    </li>
                </ul>
            </li>
            <li>
                Comptes utilisateur, authentification :
                <ul>
                    <li>
                        Compte utilisateurs avec informations complémentaires
                        <ul>
                            <li>
                                Pseudo
                            </li>
                            <li>
                                adresse email
                            </li>
                            <li>
                                adresse postale
                            </li>
                            <li>
                                date de naissance (vérification de l'âge : >= 13 ans)
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Respect des droits d'accès :
                <ul>
                    <li>
                        Erreur 404 géré sur les livres d'id inconnu
                    </li>
                    <li>
                        Impossibilité d'accéder à Mes Livre en non connecté
                    </li>
                    <li>
                        Vérification de l'id du livre avant modification ou suppression
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Apparence et utilisabilité :
        <ul>
            <li>
                Effort de design :
                <ul>
                    <li>
                        Palette de couleurs restreinte
                    </li>
                    <li>
                        Contenu épuré de toute polution visuelle
                    </li>
                    <li>
                        Mis en avant visuel des contenus les plus importants : menu > titre livre > bouton
                        modification/suppression > auteur livre > description
                    </li>
                    <li>
                        Grande majorité du CSS fait en flex
                    </li>
                </ul>
            </li>
            <li>
                Accessibilité :
                <ul>
                    <li>
                        Zone cliquable des liens sur toute leur division excépté dans le footer
                    </li>
                    <li>
                        Remplissage des attributs alt pour l'accéssibilité non visuel du site
                    </li>
                </ul>
            </li>
            <li>
                Ergonomie :
                <ul>
                    <li>
                        sélection des livres en cliquant sur le titre ou sur l'image
                    </li>
                    <li>
                        Informations les plus importantes et fonctionnalité expliqués tout en haut de la page d'accueil
                    </li>
                    <li>
                        Affichage des erreurs de formulaire en rouge en haut des formulaires
                    </li>
                    <li>
                        Pré remplissage des formulaires dès que necessaire
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Bonus pour les ajouts et fonctionnalités supplémentaires :
        <ul>
            <li>
                Gestion des comptes en mode super utilisateur, nous avions pour projet de configurer les comptes en back office. Cependant les fonctions ne sont pas toutes fonctionnelles (ex : bannir un compte).
                En revanche la suppression d'un compte par ce tableau est géré. 
            </li>
            <li>
                Ajout de fonctionnalité JavaScript (en JQuery) : demandes "êtes-vous sûr de vouloir supprimer ce contenu?" lors du clique d'un bouton supprimer, ajout d'une flèche pour remonter en haut de page avec une animation slow, ajout d'un compteur de caractères entrés dans le formulaire d'ajout de livres
            </li>
        </ul>
    </li>
    <li>
        Malus pour la non-validité du HTML :
        <ul>
            <li>
                Document checking completed. No errors or warnings to show.
            </li>
        </ul>
    </li>
</ul>