/**************************************/
/* couleur_primaire: #D0C07A;         */
/* couleur_secondaire:  #E1CE9A       */
/**************************************/

@font-face {
    font-family: "elegantTypewriter";
    src: url("elegantTypeWritter.woff") format("woff"),
    url("elegantTypeWritter.ttf") format("ttf");
}

@font-face {
    font-family: "typewriter";
    src: url("typewritter.ttf") format("ttf"),
    url("typewritter.woff") format("woff");
}

/** Général **/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Courier New, serif;
}

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    display : table;
    width: 100%;
    font-family: Courier New, serif;
    background-color: #5E5E5E;
    color: #40402D;
}

footer div.footerContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

footer div.footerContent > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    background: #333;
    display: table-row;
    height: 100px;
    box-shadow: inset 0 3px 20px 3px rgba(0, 0, 0, 0.64);
}

footer div.footerContent .auteur > p {
    text-align: center;
    margin: 0;
    line-height: 2em;
    color: white;
}

footer ul {
    list-style: none;

}

footer a {
    color: #FFFFFF;
    font-size: 1.3em;
}

footer div.footerContent .auteur {
    align-self: center;
    width: 80%;
    border-top: 2px dotted #ffffff;
}

/*
 *   Header, Menu et Haut de page
 */
header {
    background: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/*
    Header Banniere
 */
#logo_banniere {
    width: auto;
    height: 220px;
}

header > a {
    text-decoration: none;
    color: inherit;

}

header h1 {
    align-self: center;
    flex: 1;
    text-align: center;
    font-family: typewriter, Courier New, serif;
    font-weight: bold;
    font-size: 4em;
}

/*
    Menu
 */

.menu a, .menu input[type="submit"], input[type="button"] {
    box-shadow: 0 2px 0 #1b9bff;
    color: #FFF;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase ;
}

.menu ul {
    background: #333;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
}

.menu li {
    flex-grow: 1;
    display: flex;
}

.menu input[type="submit"],
.menu input[type="button"] {
    flex-grow: 1;
    border: none;
    background: inherit;
    cursor: pointer;
}

.menu li a:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background: #1b9bff;
}

.menu form {
    flex-grow: 1;
    display: flex;
}

/*
    Contenu, Main
 */

main {
    padding: 0;
    width: 70%;
    margin: 50px auto;
    max-width: 1000px;
    box-sizing: content-box;
}

.tableLivres {
    background-color: #E5E5E5;
    box-shadow: 0 0 30px 10px #303030;
}




/*
    Section, Livres ..
 */

.bandeau > a  {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    color : inherit;
}

.bandeau > a:hover {
    color: rgba(228, 228, 245, 0.79);
}

.ficheLivre p {
    padding: 1em;
}

.imageLivre {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1em;
    margin-bottom: 0.5em;
    box-shadow: 1px 1px 6px 3px #303030;
}

.ficheLivre div.action {
    align-items: center;
}

 .action {
    display: flex;
    flex-direction: row;

    clear: both;
}

.action #actionDelete {
    order: 3;
    background: indianred;
}

.action #actionEdit {
    order: 2;
}

.action a, .action input[type=submit] {
    flex-grow: 1;
    line-height: 40px;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: rgb(0, 164, 239);
    box-shadow: 0 0 11px 1px #303030;
    border-radius: 5px;
    margin: 5px;
}

.ficheLivres {
    padding-bottom: 2em;
    font-family: elegantTypewriter, Courier New, serif;
}

.ficheLivres::after {
    content: "";
    clear: both;
    display: block;
}

.tableLivres section h3 {
    font-size: 140%;
    width: calc(60% - 1em - 22px);
    float: left;
    text-align: center;
    box-shadow: -1px 1px 9px 2px #bbc;
    /* background-color: rgba(255, 255, 255, 0.51); */
    padding: 6px;
}


section div.bandeau {
    font-family: elegantTypewriter, Courier New, serif;
    display: flex;

    text-align: center;
    padding: 0 0 0 20px;
    width: calc(100% + 20px);
    margin-left: -20px;
    margin-top: 2px;

    color: #fff;
    position: relative;
    text-transform: uppercase;
    background: rgb(0, 164, 239);
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    clear: both;
}

section div.bandeau::before {
    display: block;
    width: 20px;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: -21px;
    content: "";
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(0, 80, 116);
}

section div.bandeau::after {
    display: block;
    width: 20px;
    height: 0;
    position: absolute;
    bottom: -20px;
    right: -20px;
    content: "";
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(0, 80, 116);
}

/*
        Formulaires
 */
.formulaire h3, .profil h3 {
    background: #494949;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: #fff;

    box-shadow: 0 2px 0 #1b9bff;
}


.formulaire, .profil {
    //width: 500px;
    overflow: hidden;
    margin: 40px auto;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.formulaire.large {
    width: 700px;
}

.formulaire label, .profil label {
    margin: 0 0 3px 0;
    padding: 0;
    display: block;
    font-weight: bold;
}

.formulaire > p {
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.formulaire input[type=text],
.formulaire input[type=date],
.formulaire input[type=datetime],
.formulaire input[type=number],
.formulaire input[type=search],
.formulaire input[type=time],
.formulaire input[type=file],
.formulaire input[type=url],
.formulaire input[type=email],
.formulaire input[type=password],
textarea, select {
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0;
    outline: none;
    width: 100%;
}

area {
    max-width: 100%;
}

article.accueil {
    background: #e5e5e5;
    padding: 2em;
    margin: 2em;
    box-shadow: 0 12px 20px 0 #242627;
}


article.accueil div.formulaire {
    margin: 0 auto;
}

article.accueil h3 {
    font-size: 140%;
    width: calc(100%);
    text-align: center;
    box-shadow: -1px 1px 9px 2px #bbc;
    /* background-color: rgba(255, 255, 255, 0.51); */
    padding: 6px;
    margin: 0;
}

article.accueil > p {
    margin: 2em 2em 2em 2em;
}

.tableLivres > h3 {
    text-align: center;
    color: #333333;
    font-family: typewriter, Courier New, serif;
    background: rgb(0, 164, 239);
    font-size: 3em;
    padding: 0.3em;
    box-shadow: 0 12px 20px 0 #242627;
}

div.fullButton {
    margin: 40px;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 28px;
    box-shadow: 0 0 20px 0 #242627;
}

div.listeErreurs {
    padding: 10px 30px 0 30px;
    color: red;
}

div.fullButton a {
    width: 100%;
    text-align: center;
    background: #3498db linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Courier New, serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

div.fullButton a:hover {
    background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

div.action.formAction {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.action.formAction a {
    padding: 0;
    margin: 0;
    border-radius: inherit;
    box-shadow: inherit;
}

.formulaire select {
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0;
    outline: none;
    width: calc(100% / 3);
}

.tableLivres section {
    font-family: elegantTypewriter, Courier New, serif;
}

.tableLivres section p {
    font-size: 22px;
    padding: 2em;
}

div.actionForm {
    display: flex;
}

.profil form, .action form {
    flex: 1;
    display: flex;
}

 form input[type="submit"] {
    border: none;
    font: inherit;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    background: #1b9bff;
    border-left: 1px solid #1473BD;
    border-right: 1px solid #1473BD;
    border-bottom: 2px solid #1473BD;
    color: #fff;
    cursor: pointer;
}


.profil a {
    flex: 1;
    line-height: 48px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    background: #1b9bff;
    border-left: 1px solid #1473BD;
    border-right: 1px solid #1473BD;
    border-bottom: 2px solid #1473BD;
    color: #fff;
}

.tableLivres section::after {
    content: "";
    clear: both;
    display: block;
}

.profil .actionForm .delete {
    background: rgb(239, 92, 92);
    border-color: rgb(204, 64, 64);
}

.profil .actionForm .delete:hover,
.profil .actionForm input[type=submit].delete:hover {
    background: rgb(218, 65, 65);
}

.profil a:hover, .profil .actionForm input[type=submit]:hover {
    background: #1473BD;
}

.formulaire input[type="submit"],
.formulaire input[type="button"] {
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #1b9bff;
    border-bottom: 2px solid #1473BD;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.formulaire input[type="submit"]:hover,
.formulaire input[type="button"]:hover {
    background: #1473BD;
}

.formulaire form {
    padding: 10px 30px 20px 30px;
}

/*
    section profile
 */

.info {
    padding: 10px 30px 20px 30px;
}

.info p {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.info span {
    box-sizing: border-box;
    border-bottom: 1px dotted #BEBEBE;
    padding: 7px;
    width: 60%;
    margin: 0;
    outline: none;
}

.info p label {
    padding: 7px;
    margin: 0;
}

#passwd::after {
    content: "************";
    color: red;
}

/*
    ArrowTop
 */
#backtotop {
    display: none;
    position: fixed;
    right: 3%;
    bottom: 150px;

    height: 50px;
    width: 50px;

    background: black url('images/arrow_up_fa.jpg') no-repeat scroll center center / 86px auto;
    border-radius: 50%;
    cursor: pointer;
}

#backtotop:hover {
    opacity: 0.7;
}

/*
    Peu utilise
 */

table td {
    border: 1px solid black;
    text-align: center;
}

.tableLivres .image img {
    max-height: 100px;
    width: auto;
}

/* Livres hors connexion*/
.item {
    width: 100%;
    clear: both;
    overflow: auto;
}

.item img {
    float: left;
}



