/*
        Formulaires
 */
form.hiddenForm {
    padding: 0px;
    margin: 0px;
}

div.action.formAction {

}

input[type=submit].reset,
input[type=button].reset{
    border: none;
    text-decoration: inherit;
}


.action {
    display: flex;
    flex-direction: row;
    clear: both;
}

.action.formAction .hiddenForm {
    flex-grow: 1;
}

.action.formAction input.likeALink {
    height: 100%;
}

.formulaire h1, .profil h1 {
    background: #494949;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    margin: 0px;
    color: #fff;

    box-shadow: 0 2px 0 #1b9bff;
}


.formulaire {
    width: 450px;
    overflow: hidden;
    margin: 40px auto;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.formulaire form label, .profil label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.formulaire > p {
    padding-bottom: 20px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.formulaire input[type=text],
.formulaire input[type=date],
.formulaire input[type=datetime],
.formulaire input[type=number],
.formulaire input[type=search],
.formulaire input[type=time],
.formulaire input[type=url],
.formulaire input[type=email],
.formulaire input[type=password],
textarea, select {
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    outline: none;
    width: 100%;
}

.formulaire select {
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    outline: none;
    width: calc(100% / 3);
}